@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.container {
    background-color: $primary_color;
    margin-top: -75px;
    @include flex_box_custom(space-between, center, 0px);
    padding: 20px 50px;
}

.containerCard {
    width: 280px;
    height: 104px;
    @include flex_box_custom(center, center, 18px);
}

.containerContent {
    @include flex_box_custom(center, flex-start, 11px);
    flex-direction: column;
    color: $white_color;
    font-weight: 400;

    .title {
        font-size: 17px;
    }
    .description {
        font-size: 16px;
    }
}
